.practiceDataContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 50px;
}

.practiceInfo {
    margin-right: 20px;
}

.spanHighlight {
    color: var(--color-primary);
}

:global(h4) {
    margin-bottom: 0;
}