:global(.container).practiceContainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

:global(.header).practicePageHeader {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-align: left;
}

:global(.header).practicePageHeader :global(h1) {
  margin-bottom: 0;
}

:global(.header).practicePageHeader p {
  cursor: pointer;
}

.practiceDetails {
  height: calc(100vh - 161px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.directions {
  padding: 1rem;
  background-color: rgba(0,0,0,0.03);
  border-radius: var(--border-radius-sm);
}

.directions h4, .tips h4 {
  margin-bottom: 5px;
}

.directions p, .tips p {
  margin-bottom: 5px;
}

.tips {
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: rgba(0,0,0,0.03);
  border-radius: var(--border-radius-sm);
}

.tips ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.tips li {
    margin-bottom: 8px;
    line-height: 1.4;
}

@media (max-width: 960px) {
  :global(.header).practicePageHeader {
    margin-bottom: 0px;
  }
} 

@media (max-width: 600px) {
  .directions p, .tips p {
    font-size: var(--font-size-sm);
  }
  .tips ul {
    font-size: var(--font-size-sm);
  }
  .practiceDetails {
    height: calc(100vh - 79px);
    overflow: scroll;
  }
}