:global(.header).practicePageHeader {
  margin-bottom: 30px;
}

:global(.header).practicePageHeader :global(h1) {
  margin-bottom: 0;
}

.desktopHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.mobileHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.leftButton {
  justify-self: center;
}

.rightButton {
  justify-self: center;
}

.directions {
  padding: 1rem;
  background-color: rgba(0,0,0,0.03);
  border-radius: var(--border-radius-sm);
}

.tips {
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: rgba(0,0,0,0.03);
  border-radius: var(--border-radius-sm);
}

.tips ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

.tips li {
    margin-bottom: 8px;
    line-height: 1.4;
}

@media (max-width: 960px) {
  :global(.header).practicePageHeader {
    margin-bottom: 0px;
  }
} 