:global(.header).practicePageHeader {
    margin-bottom: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    justify-content: space-between;
}

:global(.header).practicePageHeader :global(h1) {
    margin-bottom: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.leftButton {
    justify-self: center;
}

.rightButton {
    justify-self: center;
}

:global(.card).practiceCard :global(h3) {
    margin-top: 0;
}

@media (max-width: 960px) {
    :global(.header).practicePageHeader {
        margin-bottom: 0px;
    }
}